name: onnxruntime
description: Flutter plugin for OnnxRuntime provides an easy, flexible, and fast Dart API to integrate Onnx models in flutter apps across mobile and desktop platforms.
version: 1.4.0
homepage: https://github.com/gtbluesky/onnxruntime_flutter

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.0.1

dev_dependencies:
  ffigen: ^7.2.11
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  pana: ^0.21.36

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
      linux:
        ffiPlugin: true

topics:
  - onnx
  - tflite
  - pytorch
  - ai